.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 50, 51);
  padding: 10px;
  color: white;
  font-size: medium;
  font-family: sans-serif;

}
.brand{
  font-weight: bolder;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.searchbar{
  width: 60%;

}
.searchbar input{
  margin-left: 250px;
  width: 60%;
  /* text-align: center; */
  margin-top: 5px;
  font-size: 1rem;
  
}
input::placeholder{
  font-weight: bolder;
  padding: 5px;
  /* padding-top: 40px; */
}
.cart
{
  text-align: center;
  width: 20%;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: white; 
}
.nav-bar-wraper{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;

}
.img img{
  width: 300px;
  height: 300px;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem ;
}
